[MASTER]
ignore = venv, .venv, __pycache__
ignore-paths=^.*bbox_selector/.*$

[MESSAGES CONTROL]
disable =
    W0511,  # fixme (TODO, FIXME, etc.)
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    E0401,  # import-error (module not found)
